{% load humanize %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//www.highcharts.com/joomla/media/com_demo/css/highslide.min.css" type="text/css">
<link rel="stylesheet" href="//www.highcharts.com/joomla/media/templates/highsoft_2015/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="//www.highcharts.com/joomla/media/templates/highsoft_2015/css/source-sans-pro.css" type="text/css">
<link rel="stylesheet" href="//www.highcharts.com/joomla/media/templates/highsoft_2015/css/font-awesome.css" type="text/css">
<!-- <link rel="stylesheet" href="http://www.highcharts.com/joomla/media/templates/highsoft_2015/css/template.css" type="text/css"> -->
<script src="//www.highcharts.com//lib/jquery-3.1.1.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.5/highcharts.js" type="text/javascript"></script>


<script src="//www.highcharts.com/joomla/media/templates/highsoft_2015/js/bootstrap.js" type="text/javascript"></script>
<script src="//www.highcharts.com/joomla/media/templates/highsoft_2015/js/modernizr.js" type="text/javascript"></script>
<script src="//www.highcharts.com/joomla/media/templates/highsoft_2015/js/script.js" type="text/javascript"></script>
<script src="//www.highcharts.com/joomla/media/templates/highsoft_2015/js/jquery.appear.min.js" type="text/javascript"></script>
<script type="text/javascript">
function open_win() {
    window.open("http://www.zergpool.com/?address={{address.address}}")
    window.open("https://www.ahashpool.com/wallet.php?wallet={{address.address}}")
    window.open("https://miningpoolhub.com/?page=account&action=balances")
    // window.open("https://miningpoolhubstats.com/USD/9aa20967691e0c3b4cdde30b8cd3d2e68815ae685681673fa6d9acd964ef8917")
    window.open("https://pool.hashrefinery.com/?address={{address.address}}")
    window.open("http://zpool.ca/?address={{address.address}}")
    window.open("https://intense.hashvault.pro/en/#!/dashboard")
}

</script>
<title>Trujario</title>
</head>
<body>





<h1>{{lec.address}}</h1>
<table  class="table table-striped">
 <tr>
   <th>Currency</th>
   <th>pool</th>
   <th>cash</th>
   <th>USD</th>
   <th>total minado</th>
   <th>total USD minado</th>
   <th>last update</th>
 </tr>

 {%for lec in lecturas%}
   <tr>
     <td>{{lec.cryptocurrency}}</td>
     <td><a href="{{lec.get_pool_url}}{{address.address}}" target="blank">{{lec.get_pool_display}}</a></td>
     <td>{{lec.cash}} ฿</td>
     <td>{{lec.usd}} $</td>
     <td>{{lec.total_balance}} ฿</td>
     <td>{{lec.total_usd}} $</td>
     <td>{{lec.date}}</td>
   </tr>

 {%endfor%}
   <tr>
     <td>BTC</td>
     <td>TOTAL</td>
     <td>{{ total }} ฿</td>
     <td>{{total_usd}} $</td>
     <td>{{total_balance}} ฿</td>
     <td>{{total_balance_usd}} $</td>
     <td><input type=button value="Abrir web de pools" onclick="open_win()"></td>
   </tr>
</table>
<br>
<table  class="table table-striped">
 <tr>
   <th> BTC in {{address.address}} </th>
   <th>{{addr_balance}} BTC</th>
 </tr>
  <tr>
    <th> Last 24h BTC </th>
    <th> {{last_24h_btc}} ฿</th>
  </tr>
   <tr>
     <th> 1 BTC </th>
     <th> {{ btc_USD|intcomma }} $</th>
   </tr>
</table>



<ul class="nav nav-tabs">
  <li {%if  pool == 0 %}class="active"{%endif%}><a href="/monitor/{{address.address}}/0">BTC total</a></li>
  <li {%if  pool == 1 %}class="active"{%endif%}><a href="/monitor/{{address.address}}/1">ahashpool</a></li>
  <li {%if  pool == 2 %}class="active"{%endif%}><a href="/monitor/{{address.address}}/2">zergpool</a></li>
  <li {%if  pool == 3 %}class="active"{%endif%}><a href="/monitor/{{address.address}}/3">zpool</a></li>
  <li {%if  pool == 4 %}class="active"{%endif%}><a href="/monitor/{{address.address}}/4">hashrefinery</a></li>
  <li {%if  pool == 5 %}class="active"{%endif%}><a href="/monitor/{{address.address}}/5">blazepool</a></li>
</ul>



<div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto" data-highcharts-chart="0"></div>

<script>
var my_json0;
$.getJSON( '/chart_data_json/{{address.address}}/{{pool}}', function(json) {
  my_json0 = json;
  $('#chart_container').highcharts({
        chart: {
            zoomType: 'x'
        },
        title: {
            text: '{{address.address}} in {{pool_name}} -> '
        },
        subtitle: {
            text: document.ontouchstart === undefined ?
                    'Habemus zoom' : ''
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'BTC'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            area: {
                fillColor: {
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[0]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                    ]
                },
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'BTC ',
            data: my_json0
        }]
    });
});




</script>

</body>
</html>
